<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.seocursos.seocursos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="seocursos.com.br"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.seocursos.com.br"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="seocursos.com.br"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.seocursos.com.br"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CursosActivity"
            android:label="@string/cursos" />
        <activity
            android:name=".UsuariosActivity"
            android:label="@string/usuarios" />
        <activity
            android:name=".DisciplinasActivity"
            android:label="@string/disciplinas" />
        <activity
            android:name=".TarefasActivity"
            android:label="@string/tarefas" />
        <activity
            android:name=".AddUsuarioActivity"
            android:label="@string/novoUsuario" />
        <activity
            android:name=".EditUsuarioActivity"
            android:label="@string/editarUsuario" />
        <activity
            android:name=".AddTarefaActivity"
            android:label="@string/novaTarefa" />
        <activity
            android:name=".AddDisciplinaActivity"
            android:label="@string/novaDisciplina" />
        <activity
            android:name=".EventosActivity"
            android:label="@string/eventos" />
        <activity
            android:name=".EnquetesActivity"
            android:label="@string/enquetes" />
        <activity
            android:name=".AddEnqueteActivity"
            android:label="@string/novaEnquete" />
        <activity
            android:name=".EditEnqueteActivity"
            android:label="@string/editarEnquete" />
        <activity
            android:name=".AddEventoActivity"
            android:label="@string/novoEvento" />
        <activity
            android:name=".ChatActivity"
            android:label="@string/chat" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".AddCursoActivity"
            android:label="@string/novoCurso" />
        <activity
            android:name=".EditTarefaActivity"
            android:label="@string/editarTarefa" />
        <activity
            android:name=".EditEventoActivity"
            android:label="@string/editarEvento" />
        <activity
            android:name=".EditDisciplinaActivity"
            android:label="@string/editarDisciplina" />
        <activity
            android:name=".EditCursoActivity"
            android:label="@string/editarCurso" />
        <activity
            android:name=".InfoCursoActivity"
            android:label="@string/informacoesDoCurso" />
        <activity
            android:name=".RespostaTarefaActivity"
            android:label="@string/responderTarefa" />
        <activity
            android:name=".GraficosActivity"
            android:label="@string/graficos" />
        <activity
            android:name=".EbooksActivity"
            android:label="@string/ebooks" />
        <activity
            android:name=".RespostasActivity"
            android:label="@string/respostas" />
        <activity
            android:name=".RespostaEnqueteActivity"
            android:label="@string/respostas" />
        <activity
            android:name=".MeusCursosActivity"
            android:label="@string/meusCursos" />
        <activity
            android:name=".MenuDisciplinaActivity"
            android:label="@string/menuDisciplina" />
        <activity
            android:name=".AssistirActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/assistir"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".MinhaContaActivity"
            android:label="@string/minhaConta"/>
    </application>

</manifest>